.text{
    text-align: center
}
.grid{
    text-align: left
}

.eventos-container {
    /*display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center; /* Centra verticalmente */
    /*height: 100vh; /* Altura completa de la ventana */
    
}
.grid-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las tablas */
}

.data-table {
    flex: 1; /* Permite que las tablas crezcan uniformemente */
    min-width: 340px; /* Ancho mínimo de cada tabla */
    margin-right: 0px;
    
}
.ui-datatable th.ui-state-default {
    text-align: center; /* Alinea el texto al centro */
}

.colorTable{
    /*background-color: #ededf3 !important;*/
}
.ui-card {
    background-color: #e3f0f0 !important;
}