.ui-tabs .ui-tabs-nav {
            text-align: center;
    }
    .prueba{
        text-align: center;
        justify-content: center;
        float: none !important;
    }
.ui-tabs .ui-tabs-nav li {
            
    }
