.ui-tabs .ui-tabs-nav {
            text-align: center;
    }
    .tabViewClass{
        text-align: center;
        justify-content: center;
        float: top;
    }
.ui-tabs .ui-tabs-nav li {
            
    }
