#register-page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("#{resource['images/fondoLogin.jpg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    box-sizing: border-box;
}

#register-card-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las tarjetas */
    align-items: flex-start; /* Alineación superior para las tarjetas */
    flex-wrap: nowrap; /* No permitir que las tarjetas se envuelvan */
    gap: 1px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding:50px;
}

.form-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.p-panelgrid .ui-panelgrid-cell {
    padding: 15px;
    box-sizing: border-box;
}

.registerButton {
    width: 100%;
    max-width: 200px;
    background: rgba(255, 193, 7, 0.7);
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
    margin-top: 10px;
    box-sizing: border-box;
    align-self: center;
}

.registerButton:hover {
    background-color: #e0a800;
}
